<section class="customer-reviews section">
    <div class="customer-reviews container">
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__items">
                    <div class="slider__item">
                        <img src="./images/testimonials1.png" class="customer__photo" alt="">
                        <div class="customer-reviews__div">
                            <div class="customer-reviews__bgc ">
                                <div class="customer-reviews__lines">
                                    <p class=" customer-reviews__text">
                                        Nullam viverra consectetuer. Quisque cursus et, porttitor
                                        risus. Aliquam sem. In
                                        hendrerit nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="products__points customer-reviews"></div>
                        <p class="customer__name">Emily, Los Angeles</p>
                        <div class="slider-icons">
                            <ul class="slider-icons__list">
                                <li class="slider-icons__item">
                                    <a href="" class="slider__icon">
                                        <svg class="slider__svg" width="12.4" height="12">
                                            <use href="./images/icons.svg#icon-customers-reviews-house">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="slider-icons__item">
                                    <a href="" class="slider__icon grey">

                                    </a>
                                </li>
                                <li class="slider-icons__item">
                                    <a href="" class="slider__icon grey">

                                    </a>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>

        </div>

        <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
        <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>

    </div>
</section>